@model CarInsurance.InsuranceApp

@{
    ViewBag.Title = "CalcResult";
}

<h2>CalcResult</h2>

<div>
    <h4>InsuranceApp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PolStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolStartDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
